asgiref==3.4.1
click==8.0.1
fastapi==0.75.2
h11==0.12.0
pydantic==1.8.2
starlette==0.17.1
typing-extensions==3.10.0.2
uvicorn==0.17.6
asyncpg==0.24.0
tortoise-orm==0.17.8
aerich==0.5.8
pytest==6.2.4
requests==2.26.0
gunicorn==20.1.0
pytest-cov==3.0.0
torch==1.11.0
transformers==4.18.0
newspaper3k==0.2.8
#scrapy
#flake8==3.9.2
#black==21.6b0
#isort==5.9.1

